body{background-color:#f6f6f6;font-size:.8em;height:100%;background-image:url(/img/faux-background.png);background-repeat:repeat-y;background-position:25% 0;margin:0;padding:0;}
*,input{font-family:Segoe UI, Tahoma, Arial, Helvetica, sans-serif;-moz-outline:0 none;margin:0;padding:0;}
textarea,input[type=text],input[type=password]{padding:2px;}
form{margin:0;padding:0;}
h1{font-size:1.8em;line-height:1em;margin:0;padding:0;}
h2{font-size:1.5em;line-height:1.1em;margin:8px 0;padding:0;}
ul,ol{list-style-type:disc;list-style-position:outside;list-style-image:none;margin:0;padding:0;}
img{border:0;}
iframe{width:100%;margin:0;}
fieldset{border:1px solid #D5DFE5;margin-bottom:4px;-moz-border-radius:1px;padding:0 8px 8px;}
legend{margin-top:8px;padding:0;}
.gclms-logout{font-size:1.1em;padding:6px 6px 7px;}
.gclms-logout a{color:#FFF;text-decoration:none;}
.gclms-breadcrumbs{font-size:1.15em;color:#FFF;padding:6px;}
.gclms-breadcrumbs a{text-decoration:none;color:#FFF;}
.gclms-message{border:1px solid red;background-color:#fee;padding:6px;}
.gclms-success-message{border:1px solid green;}
.gclms-center-column ul.Lessons{padding-left:0;margin-left:0;}
ul.Lessons li{list-style:none;margin-bottom:12px;font-size:1.15em;}
ul.Lessons li span{font-size:.9em;}
form input.Save,form input.Cancel,form input.delete{font-size:1.3em;}
form input.Save:hover,form input.Cancel:hover{color:green;}
form textarea{font-size:1em;}
.banner{background-color:#FFF;padding:10px 10px 10px 12px;}
#Spinner{float:right;display:none;}
input:readonly{color:grey;}
ul.courses li,ul.reorder li{font-size:1.15em;margin-top:4px;margin-bottom:4px;}
ul.reorder li{cursor:move;}
.headerlink{font-size:.65em;font-weight:400;}
.tabularForm input{background-color:transparent;}
ul.newsItems{list-style:none;padding-left:0;margin-left:0;}
div.notifications div{margin-bottom:10px;font-size:1.15em;background-repeat:no-repeat;background-position:6px;padding:6px 6px 6px 27px;}
div.notifications div.success{background-color:#E6FFE6;border:1px solid #060;background-image:url(/img/icons/oxygen/16x16/actions/dialog-ok.png);}
div.notifications div.error{background-color:#FFD9D9;border:1px solid red;background-image:url(/img/icons/oxygen/16x16/actions/dialog-error.png);}
div.notifications div.warning{background-color:#FFD9D9;border:1px solid red;background-image:url(/img/icons/oxygen/16x16/actions/dialog-warning.png);}
div.notifications div.information{background-color:#FFD9D9;border:1px solid red;background-image:url(/img/icons/oxygen/16x16/actions/dialog-infromation.png);}
.gclms-login label{font-size:1em;margin:0;padding:0;}
.gclms-login div{margin-bottom:0;margin-top:8px;}
.gclms-login form{margin-top:-12px;font-size:1.2em;}
.gclms-login input{font-size:1.1em;}
.gclms-panel .gclms-login input[type=text],.gclms-panel .gclms-login input[type=password]{width:90%;}
.gclms-forgot-login{font-size:.85em;}
a.gclms-group-web-address{padding-left:18px;background-repeat:no-repeat;background-image:url(/img/icons/oxygen/16x16/emblems/emblem-web.png);background-position:center left;}
.gclms-screencast-link{font-size:1.12em;background-repeat:no-repeat;background-image:url(/img/icons/oxygen/16x16/devices/video-display.png);background-position:0 .235em;padding-left:20px;display:block;}
.gclms-left-column{float:left;width:25%;background-color:#efefef;}
.gclms-center-column{float:left;width:50%;}
.gclms-center-column p{line-height:1.45em;margin-top:.75em;margin-bottom:.75em;}
.gclms-center-column ul,.gclms-center-column ol{padding-left:24px;padding-top:12px;padding-bottom:12px;margin:0;}
.gclms-right-column{float:right;width:24.9%;}
.gclms-right-column ul,.gclms-right-column ol{padding-left:24px;padding-top:6px;padding-bottom:6px;}
.gclms-content{padding:12px;}
.Tabular,.Tabular table{border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;border-spacing:0;-moz-border-radius:2px;}
.Tabular th{border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;background-color:#EFEFDE;font-weight:400;background-image:url(/img/permanent/tabular_header_background2007-09-14.png);margin:0;}
.Records .Tabular th:hover{background-image:url(/img/permanent/tabular_header_background-hover2007-09-14.png);bborder-bottom:1px solid red;cursor:pointer;}
.Tabular td{border-right:1px solid #d8d8d8;background-color:#f8f8f8;}
.Tabular td,.Tabular th{padding:4px 6px;}
.Records .RecordSet tr:hover,.Tabular .Hover{background-image:url(/img/permanent/tabular_row_background2007-09-14.png);cursor:pointer;}
.Records .RecordSet tr:hover td,.Tabular .Hover td{background-color:transparent;border-bottom:1px solid #b2ced9;border-top:1px solid #b2ced9;padding-top:3px;padding-bottom:3px;padding-right:7px;border-right:0 none;}
.Records .RecordSet tr:hover td:first-child,.Tabular .Hover td:first-child{border-left:1px solid #b2ced9;padding-left:5px;}
.Tabular .Headers .SortAsc{background-image:url(/img/arrow-down.gif);background-position:center right;background-repeat:no-repeat;padding-right:12px;}
.Tabular .Headers .SortDesc{background-image:url(/img/arrow-up.gif);background-position:center right;background-repeat:no-repeat;padding-right:12px;}
.Records{margin-top:6px;margin-left:-2px;}
.Records .Left{text-align:left;width:25%;white-space:nowrap;}
.Records .Center{text-align:center;width:50%;}
.Records .Right{text-align:right;width:25%;}
.Records .gclms-menubar .Search{white-space:nowrap;}
.gclms-pagination .gclms-right a{background-image:url(/img/permanent/icons/2007-09-13/forward-16.png);background-position:center right;background-repeat:no-repeat;padding-right:22px;font-size:1em;color:blue;}
.gclms-pagination .gclms-left a{background-image:url(/img/permanent/icons/2007-09-13/back-16.png);background-position:center left;background-repeat:no-repeat;padding-left:22px;font-size:1em;color:blue;}
.tabularForm{border-top:1px solid #d8d8d8;border-left:1px solid #d8d8d8;border-spacing:0;}
.tabularForm th{border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;background-color:#e5e5e5;font-weight:400;text-align:right;vertical-align:top;background-image:url(/img/tabular_form_background.png);background-repeat:repeat-x;margin:0;padding:6px;}
.tabularForm td{border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;background-color:#fff;padding:6px;}
.multipleChoice div,.matching div{margin:0;}
.matching table th,th.answerHeader,.matchingHeaders table th{text-align:left;}
.multipleChoiceAnswer{padding-bottom:6px;}
img.gclms-tooltip-button{cursor:help;}
#gclms-tooltip{width:400px;position:absolute;left:100px;top:100px;}
#gclms-tooltip-content{border:1px solid #F2F200;background-color:#FFFFB9;background-image:url(/img/originals/popup-gradient.png);margin:1px;padding:8px;}
.gclms-left-column-menu{list-style:none;margin-top:3px;margin-right:5px;margin-left:3px;padding:0;}
.gclms-left-column-menu li{float:left;width:100%;border:1px solid #efefef;margin-bottom:2px;}
.gclms-left-column-menu li.active,.gclms-left-column-menu li:hover{background-color:#eff1fc;background-image:url(/img/permanent/tabular_row_background2007-09-14.png);border:1px solid #B2CED9;}
.gclms-left-column-menu li a{padding-left:40px;padding-bottom:2px;font-size:1.25em;background-repeat:no-repeat;height:2em;line-height:1.9em;display:block;text-decoration:none;color:#000;white-space:nowrap;background-position:center left;margin:5px 5px 5px 6px;}
.gclms-left-column-menu .home a{background-image:url(/img/home-32.png);}
.gclms-left-column-menu .profile a{background-image:url(/img/profile-32.png);}
.gclms-left-column-menu .class-discussion a{background-image:url(/img/permanent/icons/2007-09-13/discussion-32.png);}
.gclms-left-column-menu .live-chat a{background-image:url(/img/permanent/icons/2007-09-13/chat-32.png);}
.gclms-left-column-menu .notebook a{background-image:url(/img/notebook-32.png);}
.gclms-left-column-menu .groups a{background-image:url(/img/permanent/icons/2007-09-13/groups-32.png);}
.gclms-left-column-menu .study-programs a{background-image:url(/img/permanent/icons/2007-09-13/programs-32.png);}
.gclms-left-column-menu .configuration a{background-image:url(/img/preferences-32.png);}
.gclms-left-column-menu .administration a{background-image:url(/img/permanent/icons/2007-09-13/administration-32.png);}
.gclms-left-column-menu .group-administrators a{background-image:url(/img/permanent/icons/2007-09-13/group_administrators-32.png);}
.gclms-left-column-menu .database a{background-image:url(/img/permanent/icons/2007-09-13/database-32.png);}
.gclms-left-column-menu .tables a{background-image:url(/img/permanent/icons/2007-09-13/tables-32.png);}
.gclms-left-column-menu .first-user a{background-image:url(/img/permanent/icons/2007-09-13/profile-32.png);}
.gclms-left-column-menu .files a{background-image:url(/img/folder-32.png);}
.gclms-left-column-menu .add a{background-image:url(/img/add-32.png);}
.gclms-left-column-menu .certificates a{background-image:url(/img/permanent/icons/2007-09-13/certificates-32.png);}
.gclms-left-column-menu .dictionary a{background-image:url(/img/dictionary-32.png);}
.gclms-left-column-menu .textbooks a{background-image:url(/img/book-32.png);}
.gclms-left-column-menu .news a{background-image:url(/img/permanent/icons/2007-09-13/news-32.png);}
.gclms-left-column-menu .register a{background-image:url(/img/register-32.png);}
.gclms-left-column-menu .articles a{background-image:url(/img/articles-32.png);}
.x-panel img.notebook{background-image:url(/img/notebook-22.png);}
.x-panel img.chat{background-image:url(/img/chat-22.png);}
.x-panel img.navigation{background-image:url(/img/navigation-22.png);}
.x-panel img.dictionary{background-image:url(/img/dictionary-22.png);}
.x-panel img.textbooks{background-image:url(/img/books-22.png);}
.x-panel img.bible{background-image:url(/img/bible-22.png);}
.x-panel img.articles{background-image:url(/img/articles-22.png);}
.gclms-popup-overlay{position:fixed;left:0;top:0;width:100%;height:100%;text-align:center;z-index:1000;background-image:url(/img/popup-overlay.png);}
.gclms-popup-dialog{width:325px;background-color:#fff;border:3px solid #ddd;z-index:1001;text-align:center;margin:0 auto;padding:12px;}
.gclms-popup-dialog input[type=text]{width:96.5%;}
.gclms-popup-dialog button{font-size:1.3em;width:5em;}
.gclms-popup-dialog p{margin-top:0;padding-top:0;text-align:left;font-size:1.2em;}
.gclms-popup-dialog .ok{background-color:green;color:#FFF;border:1px solid #063;margin-right:4px;background-image:url(/img/popup-dialog-ok-background.png);cursor:pointer;}
.gclms-popup-dialog .cancel{background-color:red;color:#FFF;border:1px solid #9D0000;margin-left:4px;background-image:url(/img/popup-dialog-cancel-background.png);cursor:pointer;}
.mp3player{background-image:url(/img/mp3_player/background.png);width:219px;height:38px;float:right;}
.mp3player .play{background-image:url(/img/mp3_player/play.png);width:29px;height:29px;float:left;margin-top:4px;margin-left:6px;cursor:pointer;}
.mp3player .blankTrack{background-image:url(/img/mp3_player/track_blank.png);background-repeat:no-repeat;background-position:center left;width:167px;height:5px;margin-left:43px;margin-top:16px;cursor:pointer;}
.mp3player .progressTrack{background-image:url(/img/mp3_player/track_loaded.png);background-repeat:no-repeat;background-position:center left;width:0;height:5px;margin-left:43px;margin-top:-5px;cursor:pointer;}
.mp3player .transparentTrack{background-image:url(/img/mp3_player/track_transparent.png);background-repeat:no-repeat;background-position:center left;width:167px;height:11px;cursor:pointer;margin-left:43px;margin-top:-8px;}
.mp3player .transparentTrack .handle{background-image:url(/img/mp3_player/handle.png);background-repeat:no-repeat;width:11px;height:11px;cursor:pointer;position:relative;top:0;}
.lessonNavigation{line-height:1.65em;}
.lessonNavigation h2{font-size:1.25em;}
.lessonNavigation img.gclms-expanded,.lessonNavigation img.gclms-collapsed{width:14px;height:15px;background-repeat:no-repeat;vertical-align:middle;}
.lessonNavigation img.gclms-expanded{background-image:url(/img/originals/tree/expanded.png);}
.lessonNavigation img.gclms-expanded:hover{background-image:url(/img/originals/tree/expanded-hover.png);}
.lessonNavigation img.gclms-collapsed{background-image:url(/img/originals/tree/collapsed.png);}
.lessonNavigation img.gclms-collapsed:hover{background-image:url(/img/originals/tree/collapsed-hover.png);}
.lessonNavigation img.gclms-folder-icon{margin-left:2px;margin-right:4px;vertical-align:middle;}
.lessonNavigation img.gclms-page-icon{margin-left:2px;margin-right:2px;vertical-align:text-bottom;}
.lessonNavigation ul{margin-left:6px;padding-left:0;}
.lessonNavigation ul li{list-style:none;font-size:1.15em;margin-top:6px;margin-bottom:6px;}
.lessonNavigation ul ul{margin-left:24px;padding-left:0;margin-top:1px;margin-bottom:1px;}
.lessonNavigation ul ul li{list-style:none;font-size:.85em;margin-top:1px;margin-bottom:1px;}
.lessonNavigation ul ul ul{margin-left:10px;}
.lessonNavigation ul ul ul li{list-style:none;font-size:1em;}
.lessonNavigation ul ul li a.selected{background-color:#39f;color:#FFF;text-decoration:none;}
#topics h2{cursor:pointer;}
#lesson #topics a,#lesson #uncategorizedPagesContainer a{text-decoration:none;color:#000;}
#lesson li{background-repeat:no-repeat;background-position:center left;list-style:none;padding-left:18px;padding-top:1px;padding-bottom:1px;background-image:url(/img/permanent/icons/2007-09-13/mime-16.png);}
#SWFUploadFileListingFiles{padding-top:8px;padding-bottom:8px;}
.browseButton,.uploadButton,.cancelButton{font-size:1.2em;display:none;}
.gclms-center-column .files{list-style:none;padding-left:8px;padding-bottom:8px;margin:0;}
.gclms-center-column .files li{padding-left:22px;margin-top:3px;margin-bottom:3px;background-repeat:no-repeat;}
.gclms-center-column .files li.image{background-image:url(/img/permanent/icons/2007-09-13/image-16.png);}
.gclms-center-column .files li.audio{background-image:url(/img/permanent/icons/2007-09-13/audio-16.png);}
.gclms-center-column .files li.video{background-image:url(/img/permanent/icons/2007-09-13/video-16.png);}
.gclms-center-column .files li.document{background-image:url(/img/permanent/icons/2007-09-13/doc-16.png);}
.gclms-center-column .files li.mime{background-image:url(/img/permanent/icons/2007-09-13/mime-16.png);}
.gclms-center-column .files li.pdf{background-image:url(/img/permanent/icons/2007-09-13/pdf-16.png);}
.gclms-center-column .files li.word{background-image:url(/img/permanent/icons/2007-09-13/word-16.png);}
.gclms-edit-page .loadingPageItemIndicator,.gclms-edit-page .loadingAnswerIndicator{display:none;padding-top:4px;padding-bottom:4px;}
.gclms-edit-page .left{float:left;margin:0;padding:0;}
.gclms-edit-page .right{float:right;margin:0;padding:0;}
.textarea td td{background-color:inherit;}
.textarea td{padding:0;}
.textarea table.mceEditor td{border-right:0 none;border-bottom:0 none;background-color:#FFF;padding:0;}
.textarea table.mceEditor td.mceToolbarTop{border-bottom:1px solid #d8d8d8;background-color:#f0f0ee;padding:5px;}
.textarea table.mceEditor img{border:1px solid #f5f5f5;}
.textarea table.mceEditor td.mceStatusbarBottom{border-top:1px solid #d8d8d8;padding-left:5px;background-image:url(/img/tabular_form_background.png);background-color:#f5f5f5;}
.textarea .mceStatusbarBottom{border-top:0 none;}
#chatMessages{height:250px;overflow:auto;}
#newChatMessage{margin-top:4px;}
#newChatMessage input{font-size:1.4em;}
#chatParticipants div{background-image:url(/img/permanent/icons/2007-09-13/chat-user-16.png);background-repeat:no-repeat;background-position:center left;padding-left:20px;padding-bottom:3px;padding-top:2px;margin-bottom:4px;}
.gclms-panel{margin-bottom:8px;}
.gclms-panel h2{font-size:1.25em;line-height:1.25em;-moz-user-select:none;margin:0;padding:0;}
.gclms-panel h3{font-size:1em;line-height:1em;margin:0;padding:0;}
.gclms-panel p{margin-top:3px;margin-bottom:3px;}
.gclms-panel p:last-child{margin-bottom:0;}
.gclms-panel .gclms-wrapper{padding:10px;}
.gclms-panel .gclms-top{background-repeat:repeat-x;background-image:url(/img/panel-top.png);}
.gclms-panel .gclms-top-left{background-repeat:no-repeat;background-image:url(/img/panel-top-left.png);background-position:top left;cursor:pointer;}
.gclms-panel .gclms-top-right{background-repeat:no-repeat;background-image:url(/img/panel-top-right.png);background-position:top right;font-weight:700;margin:0;padding:6px 8px;}
.gclms-panel .gclms-button{background-repeat:no-repeat;background-position:left middle;width:15px;height:15px;float:right;margin-top:3px;}
.gclms-panel .gclms-up{background-image:url(/img/panel-button-up.png);}
.gclms-top-right:hover .gclms-up{background-image:url(/img/panel-button-up-hover.png);}
.gclms-panel .gclms-down{background-image:url(/img/panel-button-down.png);}
.gclms-top-right:hover .gclms-down{background-image:url(/img/panel-button-down-hover.png);}
.gclms-panel .gclms-panel-content{background-color:#FFF;border-left:1px solid #eaeaea;border-right:1px solid #eaeaea;border-bottom:1px solid #eaeaea;}
.gclms-panel .gclms-panel-content .gclms-padded{padding:8px;}
.gclms-panel .unbulletedList{list-style:none;margin:0;padding:0;}
.gclms-panel .unbulletedList li{border:1px solid #fff;border-top:1px solid #eaeaea;padding:0 10px 0 0;}
.gclms-panel .unbulletedList li a{color:#333;text-decoration:none;vertical-align:middle;line-height:inherit;display:block;background-repeat:no-repeat;background-image:url(/img/panel-arrow.png);background-position:center right;margin:0;padding:8px;}
.gclms-panel .unbulletedList li:hover{background-image:url(/img/permanent/tabular_row_background2007-09-14.png);background-color:#eaf5fb;border:1px solid #B2CED9;}
.gclms-panel .detailedList li:hover{background-image:none;}
.gclms-panel .unbulletedList li:hover a{text-decoration:none;background-image:url(/img/panel-arrow-hover.png);}
.x-panel-noborder .x-panel-body{background-color:#f6f6f6;}
.x-panel-header{font-size:1.1em;line-height:1.15em;}
.x-panel-inline-icon{height:22px;width:22px;margin-right:6px;}
.x-tab-strip span.x-tab-strip-text{font-size:1.08em;}
.x-tab-strip-wrap ul{list-style-type:none;padding-left:0;margin-top:0;margin-bottom:0;padding-bottom:0;}
.x-tool{margin-top:2px;}
.x-panel-body ul.articles{list-style:none;margin:0;padding:0;}
.x-panel-body ul.articles li{margin-top:8px;}
.viewportContent{padding-bottom:8px;}
p,.gclms-center-column form div,form div{margin-top:8px;margin-bottom:8px;}
.gclms-logout a:hover,.gclms-breadcrumbs a:hover{text-decoration:underline;}
.hidden,#lesson button.delete,#lesson button.rename,#lesson button.edit,.buttons button.delete,.buttons button.rename,.buttons button.edit,#SWFUploadFileListingFiles h3{display:none;}
.gclms-choose-language,.Records .gclms-menubar .Search input,#lesson button,.buttons button,.gclms-edit-page .add{font-size:1.2em;}
.classAlias,#chatMessages .name{font-weight:700;}
.assessmentQuestion > table,.gclms-page-item{width:800px;}
input.delete:hover,button.delete:hover,.error-message{color:red;}
.Tabular,.assessmentQuestion input[type=text],.gclms-page-item table,.gclms-page-item input[type=text],.gclms-page-item textarea{width:100%;}
.Tabular th a,.Tabular td a{color:#000;text-decoration:none;}
td.az,.Records .RecordSet tr:hover td:last-child,.Tabular .Hover td:last-child{border-right:1px solid #b2ced9;padding-right:6px;}
.tabularForm td input,.textarea table.mceEditor{border:0 none;}
.gclms-left-column-menu .Lessons a,.gclms-left-column-menu .Courses a,.gclms-left-column-menu .lessons a,.gclms-left-column-menu .courses a,.gclms-left-column-menu .courses a{background-image:url(/img/lessons-32.png);}
.gclms-left-column-menu .grades a,.gclms-left-column-menu .grading a{background-image:url(/img/permanent/icons/2007-09-13/grades-32.png);}
.gclms-left-column-menu .users a,.gclms-left-column-menu .facilitators a{background-image:url(/img/permanent/icons/2007-09-13/users-32.png);}
.lessonNavigation ul ul li a,#lesson li a{padding:1px;}
#lesson ul,#units ul,#textbooks,#chapters{min-height:8px;margin:0 0 0 16px;padding:8px 0 8px 16px;}
#lesson #topics a.selected,#lesson #uncategorizedPagesContainer a.selected,#units a.selected,#textbooks a.selected,#chapters a.selected{background-color:#39f;color:#FFF;}
#units li,#textbooks li,#chapters li{font-size:1.05em;padding-top:1px;padding-bottom:1px;}
#units a,#textbooks a,#chapters a{color:#000;text-decoration:none;padding:1px;}
.answers table.tabularForm,.viewportContent h1{margin-bottom:6px;}
.gclms-panel p:first-child,.x-panel-body h2:first-child,.x-panel-body ul.articles li:first-child{margin-top:0;}