#gclms-chat-messages {
	height: 250px;
	overflow: auto;
}

	#gclms-chat-messages .gclms-name {
		font-weight: bold;
	}
	
#gclms-new-chat-message {
	margin-top: 4px;
}
	
	gclms-new-chat-message input {
		font-size: 1.4em;
	}
	
#gclms-chat-participants div {
	background-image: url(/img/permanent/icons/2007-09-13/chat-user-16.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
	padding-bottom: 3px;
	padding-top: 2px;
	margin-bottom: 4px;
}