#gclms-nodes-show-tree {}

	#gclms-nodes-show-tree ul {
		margin: 0;
		padding: 0;
		margin-left: 0px;
		padding-left: 0px;
		list-style: none;
	}
	
		#gclms-nodes-show-tree ul ul {
			margin-left: 12px;
			padding-left: 12px;
		}
	
		#gclms-nodes-show-tree li {
			padding-left: 2px;
			padding-right: 2px;
			margin-top: 7px;
			margin-bottom: 7px;
		}