#gclms-nodes {}
	#gclms-nodes ul {
		min-height: 2px;
		margin: 0;
		padding-right: 0;
		padding-top: 2px;
		padding-bottom: 2px;
		margin-left: 15px;
		padding-left: 15px;
		list-style: none;
		font-size: .1em; /* Part 1 of 2 of IE fix */
	}

		#gclms-nodes ul li {
			padding-top: 8px;
			padding-bottom: 1px;
			font-size: 10em; /* Part 2 of 2 of IE fix */
		}

	#gclms-nodes a {
		color: black;
		text-decoration: none;
		padding: 1px;			
	}

	#gclms-nodes a.selected {
		background-color: #3399ff;
		color: white;
	}
	
	#gclms-nodes img.gclms-icon {
		height: 16px;
		width: 16px;
		background-repeat: no-repeat;
	}
	
		#gclms-nodes li.gclms-label > span > img.gclms-icon {
			background-image: url(/img/icons/oxygen/16x16/mimetypes/application-x-font-otf-modified.png);
		}
		
		#gclms-nodes li.gclms-page > span > img.gclms-icon {
			background-image: url(/img/icons/oxygen/16x16/mimetypes/application-text.png);
		}
		
		#gclms-nodes li.gclms-course > span > img.gclms-icon {
			background-image: url(/img/icons/oxygen/16x16/filesystems/folder_manilla2.png);
		}