#SWFUploadFileListingFiles h3 {
	display: none;
}

#SWFUploadFileListingFiles {
	padding-top: 8px;
	padding-bottom: 8px;
}
	
	.browseButton,
	.uploadButton,
	.cancelButton {
		font-size: 1.2em;
	}
	
	.browseButton,
	.uploadButton,
	.cancelButton {
		display: none;
	}
	
div.gclms-files {
	list-style: none;
	padding-left: 8px;
	margin: 0;
	padding-bottom: 8px;
}

	div.gclms-files li {
		padding-left: 22px;
		margin-top: 3px;
		margin-bottom: 3px;
		background-repeat: no-repeat;
		line-height: 1.2em;
		font-size: 1.05em;
	}
	
	div.gclms-files li.image {
		background-image: url(/img/permanent/icons/2007-09-13/image-16.png);
	}
	
	div.gclms-files li.audio {
		background-image: url(/img/permanent/icons/2007-09-13/audio-16.png);
	}
	
	div.gclms-files li.video {
		background-image: url(/img/permanent/icons/2007-09-13/video-16.png);
	}
	
	div.gclms-files li.document {
		background-image: url(/img/permanent/icons/2007-09-13/doc-16.png);
	}
	
	div.gclms-files li.mime {
		background-image: url(/img/permanent/icons/2007-09-13/mime-16.png);
	}
	
	div.gclms-files li.pdf {
		background-image: url(/img/permanent/icons/2007-09-13/pdf-16.png);
	}
	
	div.gclms-files li.word {
		background-image: url(/img/permanent/icons/2007-09-13/word-16.png);
	}
	
.swfuploadbtn {
	display: block;
	width: 100px;
	padding: 0 0 0 20px;
}

.browsebtn { background: url(/images/add.png) no-repeat 0 4px; }
.uploadbtn { 
	display: none;
	background: url(/images/accept.png) no-repeat 0 4px; 
}

.cancelbtn { 
	display: block;
	width: 16px;
	height: 16px;
	float: right;
	background: url(/img/permanent/icons/2007-09-13/cancel-16.png) no-repeat; 
}

#SWFUploadFileListingFiles ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.SWFUploadFileItem {
	margin-bottom: 4px;
}

.gclms-upload-completed { background: #d2fa7c; }
.uploadCancelled { background: #f77c7c; }

.gclms-upload-completed .cancelbtn, .uploadCancelled .cancelbtn {
	display: none;
}

span.gclms-progress-bar {
	display: block;
	padding: 4px;
	background-color: #00B521;
	background-image: url(/img/progress-background.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}

table#gclms-files a:hover {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.gclms-tabular.gclms-hover-rows tr:hover td {
	cursor: default;
}