.gclms-topic-count, .gclms-post-count, .gclms-last-post {
	width: 1px;
	white-space: nowrap;
}

.gclms-last-reply {
	font-size: .9em;
}

.gclms-last-reply,
.gclms-replies,
.gclms-author {
	width: 1px;
	white-space:nowrap;
}