.gclms-page {
	/* min-width: 950px; */
}

	.gclms-left-column {
		float: left;
		width: 25%;
		background-color: #efefef;
	}
	
	.gclms-center-column {
		float: left;
		width: 50%;
	}
	
		.gclms-center-column p {
			line-height: 1.45em;
			margin-top: .75em;
			margin-bottom: .75em;
		}
		
		.gclms-center-column ul,
		.gclms-center-column ol {
			margin: 0;
			padding-left: 24px;
			padding-top: 12px;
			padding-bottom: 12px;
		}
		

	
	.gclms-right-column {
		float: right;
		width: 24.9%;
	}
		
		.gclms-right-column ul,
		.gclms-right-column ol {
			padding-left: 24px;
			padding-top: 6px;
			padding-bottom: 6px;
		}
	

	.gclms-content {
		padding: 12px;
	}