#gclms-menubars {
	padding: 0;
}

	#gclms-menubars-floater.gclms-floating {
		/*
		background-image: url(/img/menubars-background.png);
		background-position-y: bottom;
		padding-bottom: 14px;
		*/
		background-color: #f6f6f6;
		position: fixed;
		z-index: 2;
		width: 100%;
		top: 0px;
	}

.gclms-menubar {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	border: 0px none;
	border-spacing: 3px;
	border-collapse: separate;
}

	.gclms-menubar td {
		background-image: url('/img/button-background.png');
		background-color: #ededed;
		margin-right: 4px;
	}

	.gclms-menubar button {
		font-size: 1.1em;
		border: 1px solid #8B8B8B;
		background-color: transparent;
		background-repeat: no-repeat;
		
		background-position: 3px 50%;
		padding-right: 4px;
		padding-bottom: 1px;
		padding-top: 1px;
		padding-left: 22px;
		width: 100%;
		white-space: nowrap;
	}
	
	.gclms-menubar button[disabled] {
		opacity: .60;
	}

	.gclms-menubar button:hover {
		/* background-color: #ddd; */
	}
	
#secondaryMenubar {
}

.gclms-menubar #convertPageToLabel,
.gclms-menubar #convertLabelToPage,
.gclms-menubar #decreaseIndent,
.gclms-menubar #increaseIndent,
.gclms-menubar #renameNode,
.gclms-menubar #deleteNode,
.gclms-menubar #editPage {
}

.gclms-menubar button.add {
	background-image: url(/img/icons/add-16.png);
}

.gclms-menubar button.delete {
	background-image: url(/img/icons/oxygen/16x16/actions/edit-delete.png);
}

.gclms-menubar button.increaseIndent {
	background-image: url(/img/icons/oxygen/16x16/actions/format-indent-more.png);
}

.gclms-menubar button.decreaseIndent {
	background-image: url(/img/icons/oxygen/16x16/actions/format-indent-less.png);
}

.gclms-menubar button.label {
	background-image: url(/img/icons/oxygen/16x16/mimetypes/application-x-font-otf-modified.png);
}

.gclms-menubar button.page {
	background-image: url(/img/icons/oxygen/16x16/mimetypes/application-text.png);
}

.gclms-menubar button.edit {
	background-image: url(/img/icons/oxygen/16x16/apps/kate.png);
}

.gclms-menubar button.rename {
	background-image: url(/img/icons/crystal_clear/16x16/actions/editclear.png);
}

#gclms-nodes-show-tree {}

	#gclms-nodes-show-tree ul {
		margin: 0;
		padding: 0;
		margin-left: 10px;
		padding-left: 10px;
		list-style: none;
	}
	
		#gclms-nodes-show-tree li {
			padding-left: 2px;
			padding-right: 2px;
			margin-top: 4px;
			margin-bottom: 4px;
		}

#gclms-nodes {}
	#gclms-nodes ul {
		min-height: 2px;
		margin: 0;
		padding-right: 0;
		padding-top: 2px;
		padding-bottom: 2px;
		margin-left: 15px;
		padding-left: 15px;
		list-style: none;
		font-size: .1em; /* Part 1 of 2 of IE fix */
	}

		#gclms-nodes ul li {
			padding-top: 8px;
			padding-bottom: 1px;
			font-size: 10em; /* Part 2 of 2 of IE fix */
		}

	#gclms-nodes a {
		color: black;
		text-decoration: none;
		padding: 1px;			
	}

	#gclms-nodes a.selected {
		background-color: #3399ff;
		color: white;
	}
	
	#gclms-nodes img.gclms-icon {
		height: 16px;
		width: 16px;
		background-repeat: no-repeat;
	}
	
		#gclms-nodes li.gclms-label > span > img.gclms-icon {
			background-image: url(/img/icons/oxygen/16x16/mimetypes/application-x-font-otf-modified.png);
		}
		
		#gclms-nodes li.gclms-page > span > img.gclms-icon {
			background-image: url(/img/icons/oxygen/16x16/mimetypes/application-text.png);
		}
		
		#gclms-nodes li.gclms-course > span > img.gclms-icon {
			background-image: url(/img/icons/oxygen/16x16/filesystems/folder_manilla2.png);
		}
		
	.gclms-expandable-list img.gclms-expand-button {
		height: 14px;
		width: 15px;
		background-repeat: no-repeat;
	}
	
	.gclms-expandable-list li.gclms-hidden > ul > li {
		display: none;
	}
	
	.gclms-expandable-list li.gclms-collapsed > img.gclms-expand-button {
		background-image: url(/img/originals/tree/collapsed.png);
	}
		
	.gclms-expandable-list li.gclms-collapsed > img.gclms-expand-button:hover {
		background-image: url(/img/originals/tree/collapsed-hover.png);
	}
	
	.gclms-expandable-list li.gclms-expanded > img.gclms-expand-button {
		background-image: url(/img/originals/tree/expanded.png);
	}
	
	.gclms-expandable-list li.gclms-expanded > img.gclms-expand-button:hover {
		background-image: url(/img/originals/tree/expanded-hover.png);
	}
	
		#gclms-nodes li.gclms-expanded > ul > li {
			display: block;
		}	
