body {
	direction: ltr;
	background-image: url(/img/faux-background-ltr.png);
	background-position: 25% 0;
}

ul, ol {
	margin-left: 24px;
}

.gclms-choose-language {
	position: absolute;
	top: 0;
	text-align: right;
	width: 200px;
	margin-left: -208px;
	left: 100%;
	padding-right: 8px;
}

/* Layout */

#gclms-page {}

	#gclms-page > .gclms-left-column {
		float: left;
		width: 25%;
	}
	
	#gclms-page.gclms-no-frames > .gclms-center-column {
		float: left;
		width: 50%;
	}
	
		.gclms-center-column ul,
		.gclms-center-column ol {
			padding-left: 24px;
		}
	
	#gclms-page > .gclms-right-column {
		float: right;
		width: 24.9%;
	}
	
		.gclms-right-column ul,
		.gclms-right-column ol {
			padding-left: 24px;
			padding-top: 6px;
			padding-bottom: 6px;
		}

	#gclms-page-navigation .gclms-back {
		float: left;
	}
	
	#gclms-page-navigation .gclms-next {
		float: right;	
	}

.gclms-menu li a {
	padding-left: 8px;
}

.gclms-menu li div {
	float: left;
	margin-left: 0;
	margin-right: 8px;
}

.gclms-left {
	text-align: left;
}

.gclms-right {
	text-align: right;
}

.gclms-tabular th {
	text-align: left;
}

.gclms-step-back {
	padding-left: 20px;
	background-image: url(/img/previous-16.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 1.1em;
	line-height: 16px;
	vertical-align: middle;
	margin-bottom: 8px;
}

	.stepBack a {
		color: blue;
	}
	
.gclms-content .stepBack {
	font-size: 1.2em;
}

.gclms-userbar {
	float: right;
	padding-right: 9px;	
}

	.gclms-userbar a {
		padding-left: 19px;
		float: left;	
		background-position: left center;		
	}

	.gclms-userbar a.gclms-user-logout {
		margin-left: 8px;	
	}
	
.gclms-panel {}
	
	.gclms-panel .gclms-button {
		background-position: center left;	
		float: right;
	}
	
	.gclms-panel .gclms-unbulleted-list li {
		padding-right: 10px;
	}
	
	.gclms-panel .gclms-unbulleted-list li a {
		background-position: center right;		
		padding-right: 8px;
	}
	
.gclms-left-column-menu {
	margin-right: 5px;
	margin-left: 3px;		
}

	.gclms-left-column-menu li {
		float: left;		
	}
	
		.gclms-left-column-menu li a {
			margin-left: 6px;
			padding-left: 40px;
			background-position: center left;	
		}
		
ul.gclms-export-menu li {
	padding-left: 36px;
	background-position: top left;
}

	ul.gclms-export-menu a.gclms-download,
	ul.gclms-export-menu a.gclms-generate {
		padding-left: 20px;
		background-repeat: no-repeat;
		background-position: center left;
		margin-right: 8px;
	}
	
.gclms-new-courses {
	float: left;
}

#gclms-spinner {
	float: right;
}

.gclms-option-buttons {
	float: right;
}

	.gclms-option-buttons a {
		padding-left: 20px;
		margin-left: 10px;
		background-position: left center;	
	}
	
#gclms-nodes {}
	#gclms-nodes ul {
		padding-right: 0;
		margin-left: 15px;
		padding-left: 15px;
	}
	
	#gclms-nodes > ul {
		margin-left: 0px;
		padding-left: 0px;
	}