body {
	direction: rtl;
	background-image: url(/img/faux-background-rtl.png);
	background-position: 75% 0;
}

ul, ol {
	margin-right: 24px;
}

.gclms-choose-language {
	position: absolute;
	top: 0;
	text-align: right;
	left: 0;
	padding-left: 8px;
}

#gclms-page {}

	#gclms-page > .gclms-left-column {
		float: left;
		width: 24.9%;
	}
	
		.gclms-left-column ul,
		.gclms-left-column ol {
			padding-right: 24px;
			padding-top: 6px;
			padding-bottom: 6px;
		}
	
	#gclms-page > .gclms-center-column {
		float: left;
		width: 50%;
	}
	
		.gclms-center-column ul,
		.gclms-center-column ol {
			padding-right: 24px;
		}
	
	#gclms-page > .gclms-right-column {
		float: right;
		background-color: #efefef;
		width: 25%;
	}

	#gclms-page-navigation .gclms-back {
		float: left;
	}
	
	#gclms-page-navigation .gclms-next {
		float: right;	
	}

.gclms-menu li a {
	padding-right: 8px;
}

.gclms-menu li div {
	float: right;
	margin-right: 0;
	margin-left: 8px;
}

.gclms-step-back {
	padding-left: 20px;
	background-image: url(/img/previous-16.png);
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 1.1em;
	line-height: 16px;
	vertical-align: middle;
	margin-bottom: 8px;
}

	.stepBack a {
		color: blue;
	}
	
.gclms-content .stepBack {
	font-size: 1.2em;
}

.gclms-userbar {
	float: left;
	padding-left: 9px;	
}

	.gclms-userbar a {
		padding-right: 19px;
		background-position: right center;		
	}

	.ggclms-userbar a.gclms-user-logout {
		margin-right: 8px;	
	}

.gclms-userbar {
	float: left;
	padding-left: 9px;
}

	.gclms-userbar a {
		padding-right: 19px;
		background-position: right center;	
		float: left;	
	}

	.gclms-userbar a.gclms-user-logout {
		margin-right: 8px;	
	}
	
.gclms-panel {}

	.gclms-panel .gclms-button {
		background-position: right center;	
		float: left;
	}
	
	.gclms-panel .gclms-unbulleted-list li {
		padding-left: 10px;
	}
	
	.gclms-panel .gclms-unbulleted-list li a {
		background-position: center left;
		padding-left: 8px;		
	}
	
.gclms-left-column-menu {
	margin-left: 5px;
	margin-right: 3px;		
}

	.gclms-left-column-menu li {
		float: right;		
	}
	
		.gclms-left-column-menu li a {
			margin-right: 6px;
			padding-right: 40px;
			background-position: center right;	
		}
		
ul.gclms-export-menu li {
	padding-right: 36px;
	background-position: top right;
}

	ul.gclms-export-menu a.gclms-download,
	ul.gclms-export-menu a.gclms-generate {
		padding-right: 20px;
		background-repeat: no-repeat;
		background-position: center right;
		margin-left: 8px;
	}
	
.gclms-new-courses {
	float: right;
}