

#gclms-chat-messages {
	height: 250px;
	overflow: auto;
	line-height: 1.6em;
}
	
	.gclms-chat-message-with-author-identity {
		clear: both;
	}
	
		.gclms-gravatar {
			width: 48px;
			height: 48px;
		}
	
		.gclms-chat-message-with-author-identity img {
			float: left;
			margin-right: 8px;
			margin-top: 4px;
		}
	
		.gclms-author {
			font-weight: bold;
		}
	
#gclms-new-chat-message {
	margin-top: 4px;
	border-collapse: collapse;
	position:fixed;
	bottom: -8px;
	padding-bottom: 6px;
	margin: 10px 0;
	width: 50%;
}

	#gclms-new-chat-message table {
		width: 100%;
	}

		#gclms-new-chat-message td {
			border-collapse: collapse;
			vertical-align: top;
		}
		
		#gclms-new-chat-message textarea {
			font-size: 1.1em;
			height: 3em;
			width: 100%;
		}
	
		#gclms-button-cell {
			width: 13em;
			padding-left: 6px;
		}
	
#gclms-chat-participants {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

	#gclms-chat-participants li {
		overflow: hidden;
		font-size: 1.2em;
		margin-bottom: 6px;
	}
	
	#gclms-chat-participants img {
		float: left;
		margin-right: 6px;
	}
