.gclms-popup-dialog h2 {
	margin-top: 0;
}

.gclms-popup-dialog .gclms-description {
	font-size: .9em;
}

input[disabled] {
	background-color: white;
	color: black;
}

th .gclms-left {
	margin: 0;
}

div.gclms-page-object table {
	width: 500px;
}

.gclms-assignment-association th {
	white-space: nowrap;
}

.gclms-associated-object-title {
	width: 100%;
}

.gclms-delete {
	cursor: pointer;
}
