ul.gclms-export-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 12px;
}

	ul.gclms-export-menu li {
		margin-top: 3px;
		margin-bottom: 14px;		
		min-height: 32px;
		background-repeat: no-repeat;
		padding-left: 36px;
		white-space: nowrap;
		background-position: top left;
	}
	
		ul.gclms-export-menu li .gclms-export-title {
			font-size: 1.3em;
		}
	
		ul.gclms-export-menu li div {
			margin-bottom: 3px;
		}
		
		ul.gclms-export-menu li a {
			color: blue;
		}
	
	ul.gclms-export-menu li.gclms-odt {
		background-image: url(/img/icons/oxygen/32x32/mimetypes/x-office-document.png);
	}
	
	ul.gclms-export-menu li.gclms-archive {
		background-image: url(/img/icons/oxygen_refit/32x32/apps/file-roller.png);
	}
	
	ul.gclms-export-menu li.gclms-pdf {
		background-image: url(/img/icons/oxygen/32x32/mimetypes/application-pdf.png);
	}
	
	ul.gclms-export-menu a.gclms-download,
	ul.gclms-export-menu a.gclms-generate {
		padding-left: 20px;
		background-repeat: no-repeat;
		background-position: center left;
		margin-right: 8px;
	}
	
	ul.gclms-export-menu a.gclms-download {
		background-image: url(/img/icons/oxygen_refit/16x16/apps/gwget.png);
	}
	
	ul.gclms-export-menu a.gclms-generate {
		background-image: url(/img/icons/oxygen_refit/16x16/actions/view-refresh.png);
	}
	