td {
	vertical-align: top;
}

.gclms-avatar {
	margin-top: 6px;
}

table.gclms-tabular {
	border-top: 0px none;
	width: 100%;
}

	tr.gclms-headers th {
		border-top: 1px solid #d8d8d8;
	}

#gclms-thread-listing a.gclms-selected {
	font-weight: bold;
}

.gclms-thread-author {
	font-weight: bold;
}

#gclms-reply {
	margin-top: 6px;
}

.gclms-profile-column {
	width: 200px;
}

.gclms-tabular td a {
	color: blue;
	text-decoration: underline;
}

.gclms-username {
	font-size: 1.3em;
}

.gclms-forum-post-content {
	min-height: 100px;
}

.gclms-forum-post-buttons {
	text-align: right;
}
