.gclms-forum-title {
	font-weight: bold;
}

.gclms-topic-count, .gclms-post-count, .gclms-last-post {
	width: 1px;
	white-space: nowrap;
}

.gclms-last-reply,
.gclms-last-post {
	font-size: .95em;
}

.gclms-last-reply,
.gclms-last-post,
.gclms-replies,
.gclms-author,
.gclms-type {
	width: 1px;
	white-space:nowrap;
}