h2 a.gclms-edit {
	background-image: url(/img/icons/oxygen/16x16/apps/kate.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: left center;
	font-weight: normal;
	font-size: .73em;
	margin-left: 6px;
}
