fieldset {
	padding-top: 0;
}

legend {
	margin-top: 4px;
}

*, input {
    font-family: Segoe UI, Arial, Tahoma, Helvetica, sans-serif;
    -moz-outline: 0px none;
}

input[type="submit"],input[type="button"],button {
	padding: 0 5px 0 5px;
}