body.gclms-install input,
body.gclms-install label,
body.gclms-install button {
	font-size: 1.2em;
}

form input.gclms-next {
	font-size: 1.5em;
}

body.gclms-install #first-user,
body.gclms-install #configuration,
body.gclms-install #install {
	display: none;
}