body {
	direction: ltr;
}

.gclms-userbar {
	float: right;
}

.gclms-menu li a {
	padding-left: 8px;
}

.gclms-menu li div {
	float: left;
	margin-left: 0;
	margin-right: 8px;
}

.gclms-left {
	text-align: left;
}

.gclms-right {
	text-align: right;
}

.gclms-tabular th {
	text-align: left;
}

.gclms-step-back {
	padding-left: 20px;
	background-image: url(/img/previous-16.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 1.1em;
	line-height: 16px;
	vertical-align: middle;
	margin-bottom: 8px;
}

	.stepBack a {
		color: blue;
	}
	
.gclms-content .stepBack {
	font-size: 1.2em;
}

