/*
body {
	background-color: #f9f9f9;
	font-size: 85%;
	padding: 10px;
	margin: 0;
}

*, input {
    font-family: Segoe UI, Tahoma, Arial, Helvetica, sans-serif;
    -moz-outline: 0px none;
}
*/

body.mceContentBody {
	background-image: none;
	padding-left: 12px;
	padding-right: 12px;
}

h1 {
	margin-top: 0px;
	margin-bottom: 12px;
}

body.mceContentBody p:first-child,
body.mceContentBody blockquote:first-child {
	padding-top: 4px;
	padding-bottom: 4px;
}

body.mceContentBody p,
body.mceContentBody blockquote {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

#gclms-page-navigation {
	overflow: hidden;
}

.gclms-matching .gclms-answers table {
	width: 100%;
}

div.gclms-matching,
div.gclms-multiple-choice {
	margin-top: 0;
	margin-bottom: 6px;	
}

.gclms-questions button,
#gradeResults {
	font-size: 1.2em;
}

.gclms-graded-assessment .gclms-check-answer-button {
	display: none;
}

.gclms-answer-status {
	font-style: italic;
	display: none;
}

.gclms-multiple-choice ul {
	list-style: none;
	padding-left: 12px;
	margin-left: 0;
}

	.gclms-multiple-choice ul li {
		margin-bottom: .4em;
		margin-top: .4em;
	}

/* Matching question */

.gclms-matching-headers th.gclms-column,
.gclms-matching-headers td.gclms-column,
.gclms-matching td.gclms-column {
	width: 50%;
}

.gclms-matching .gclms-answers {
	overflow: hidden;
}

	.gclms-matching h5 {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.gclms-matching .gclms-answers h3 {
		margin-top: 0;
		margin-bottom: 8px;
	}

	.gclms-matching .gclms-draggable-color0 {
		background-color: #B1945F; 
		background-image: url(/img/draggable0.png);
	}
	.gclms-matching .gclms-draggable-color1 {
		background-color: #1B616D; 
		background-image: url(/img/draggable1.png);		
	}
	.gclms-matching .gclms-draggable-color2 {
		background-color: #819ED3; 
		background-image: url(/img/draggable2.png);
	}
	.gclms-matching .gclms-draggable-color3 {
		background-color: #4E6BA0;
		background-image: url(/img/draggable3.png);
	}
	.gclms-matching .gclms-draggable-color4 {
		background-color: #6D501B;
		background-image: url(/img/draggable4.png);
	}
	.gclms-matching .gclms-draggable-color5 {
		background-color: #6D271B;
		background-image: url(/img/draggable5.png);
	}
	.gclms-matching .gclms-draggable-color6 {
		background-color: #386D1B; 
		background-image: url(/img/draggable6.png);
	}
	.gclms-matching .gclms-draggable-color7 {
		background-color: #6D1B38;
		background-image: url(/img/draggable7.png);
	}
	.gclms-matching .gclms-draggable-color8 {
		background-color: #616D1B;
		background-image: url(/img/draggable8.png);
	}

	.gclms-matching .gclms-answers h4 {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 8px;
	}
	
	.gclms-matching td {
		margin: 4px;
	}

	.gclms-matching .gclms-left-column {
		width: 35%;
		float: left;
		margin-right: 5%;
	}
	
		.gclms-matching .gclms-left-column .gclms-draggable-container {
			width: 50px;
		}
	
		.gclms-matching .gclms-left-column .gclms-draggable {
			height: 50px;
			width: 50px;
			display: block;	
			line-height: 50px;
			vertical-align: middle;
			text-align: center;
			color: white;
			font-size: 1.4em;
			font-weight: bold;
			cursor: move;
			font-family: Cambria, Times;
		}

		.gclms-matching .gclms-left-column .gclms-text div {
			padding: 6px;
		}
	
	.gclms-matching .gclms-right-column {
		float: left;
		width: 55%;
	}
		
		.gclms-matching .gclms-right-column .gclms-description {
		}
		
		.gclms-matching .gclms-right-column .gclms-description div {
			padding: 6px;
		}
		
		.gclms-matching .gclms-right-column td.gclms-droppable-container {
			width: 50px;
		}
			.gclms-matching .gclms-right-column .gclms-droppable-container .gclms-default-droppable-color {
				background-color: #e8e8e8;		
			}
		
			.gclms-matching .gclms-right-column .gclms-droppable-container .gclms-droppable {
				height: 50px;
				line-height: 50px;
				vertical-align: center;
				text-align: center;
				color: white;
				font-size: 1.4em;
				font-weight: bold;
				font-family: Cambria, Times;
			}
			
.gclms-notebook {
	cursor: pointer;
}
	
/* MP3 Player */

.gclms-mp3-player {
	background-image: url(/img/mp3_player/background.png);
	width: 219px;
	height: 38px;
	float: right;
}
	
	.gclms-mp3-player .gclms-play {
		background-image: url(/img/mp3_player/play.png);
		width: 29px;
		height: 29px;
		float: left;
		margin-top: 4px;
		margin-left: 6px;
		cursor: pointer;
	}

	.gclms-mp3-player .gclms-blank-track {
		background-image: url(/img/mp3_player/track_blank.png);
		background-repeat: no-repeat;
		background-position: center left;
		width: 167px;
		height: 5px;
		margin-left: 43px;
		margin-top: 16px;
		cursor: pointer;
	}

	.gclms-mp3-player .gclms-progress-track {
		background-image: url(/img/mp3_player/track_loaded.png);
		background-repeat: no-repeat;		
		background-position: center left;
		width: 0px;
		height: 5px;
		margin-left: 43px;
		margin-top: -5px;
		cursor: pointer;
	}

	.gclms-mp3-player .gclms-transparent-track {
		background-image: url(/img/mp3_player/track_transparent.png);
		background-repeat: no-repeat;
		background-position: center left;
		width: 167px;
		height: 11px;
		cursor: pointer;
		margin-left: 43px;
		margin-top: -8px;
	}
	
		.gclms-mp3-player .gclms-transparent-track .gclms-handle {
			background-image: url(/img/mp3_player/handle.png);
			background-repeat: no-repeat;
			width: 11px;
			height: 11px;
			cursor: pointer;
			position: relative;
			top: 0px;
		}

div.gclms-order-question li {
	cursor: move;
}

.gclms-explanation {
	display: none;
}

.gclms-multiple-choice .gclms-explanation {
	margin-left: 26px;
}

.gclms-buttons {
	margin-top: 10px;
	margin-bottom: 10px;
}
