.gclms-tabular {
	width: 100%;
}

.gclms-tabular, .gclms-tabular table {
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-spacing: 0;
	-moz-border-radius: 2px;
}

.gclms-tabular th {
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	background-color: #EFEFDE;
	font-weight: normal;
	margin: 0;
	background-image: url(/img/permanent/tabular_header_background2007-09-14.png);
}

	.gclms-tabular th a {
		color: black;
		text-decoration: none;
	}
	
.Records .gclms-tabular th:hover {
	background-image: url(/img/permanent/tabular_header_background-hover2007-09-14.png);
	/* border-bottom: 1px solid red; */
	cursor: pointer;
}

.gclms-tabular td {
	border-right: 1px solid #d8d8d8;
    background-color: #f8f8f8;
}

	.gclms-tabular td a {
		color: black;
		text-decoration: none;
	}

.gclms-tabular td,
.gclms-tabular th {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.Records .gclms-recordset tr:hover,
.gclms-tabular .Hover {
	background-image: url(/img/permanent/tabular_row_background2007-09-14.png);
	cursor: pointer;
}

.gclms-descriptive-recordset tr:hover {
	background-color: #eaf5fb;
	border: 1px solid #B2CED9;
	cursor: pointer;
}

.gclms-descriptive-recordset tr:hover td,
.Records .gclms-recordset tr:hover td,
.gclms-tabular .Hover td {
	background-color: transparent;
	border-bottom: 1px solid #b2ced9;
	border-top: 1px solid #b2ced9;
    padding-top: 3px;
    padding-bottom: 3px;
	padding-right: 7px;
	border-right: 0px none;
}

.gclms-descriptive-recordset tr:hover td:first-child,
.Records .gclms-recordset tr:hover td:first-child,
.gclms-tabular .Hover td:first-child {
	border-left: 1px solid #b2ced9;
    padding-left: 5px;
	/* -moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px; */
}

td.az {
	border-right: 1px solid #b2ced9;
    padding-right: 6px;
}

.gclms-descriptive-recordset tr:hover td:last-child,
.Records .gclms-recordset tr:hover td:last-child,
.gclms-tabular .Hover td:last-child {
	border-right: 1px solid #b2ced9;
    padding-right: 6px;
	/* -moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px; */
}

.gclms-tabular .Headers .SortAsc {
	background-image: url(/img/arrow-down.gif);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 12px;
}

.gclms-tabular .Headers .SortDesc {
	background-image: url(/img/arrow-up.gif);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 12px;
}

.Records {
	margin-top: 6px;
	margin-left: -2px;
}

.Records .Left {
	text-align: left;
	width: 25%;
	white-space: nowrap;
}

.Records .Center {
	text-align: center;
	width: 50%;
}

.Records .Right {
	text-align: right;
	width: 25%;
}

.Records .gclms-menubar .Search {
	white-space: nowrap;

}

.Records .gclms-menubar .Search input {
	font-size: 1.2em;
}

.gclms-pagination .gclms-right a {
	background-image: url(/img/permanent/icons/2007-09-13/forward-16.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 22px;
	font-size: 1em;
	color: blue;
}

.gclms-pagination .gclms-left a {
	background-image: url(/img/permanent/icons/2007-09-13/back-16.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 22px;
	font-size: 1em;
	color: blue;
}

.gclms-tabular-form {
	border-top: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-spacing: 0;	
}

	.gclms-tabular-form th {
		border-right: 1px solid #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
		background-color: #e5e5e5;
		font-weight: normal;
		padding: 6px;
		text-align: right;
		vertical-align: top;
		margin: 0;
		background-image: url(/img/tabular_form_background.png);
		background-repeat: repeat-x;
	}
	
	.gclms-tabular-form td {
		padding: 6px;
		border-right: 1px solid #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
	    background-color: #fff;
	}
	
	.gclms-tabular-form td input {
		border: 0px none;
	}
	
	.gclms-tabular-form div.input {
	}
	
.multipleChoice div,
.matching div {
	margin: 0;
}

.matching table th,
th.answerHeader,
.matchingHeaders table th {
	text-align: left;
}

.multipleChoiceAnswer {
	padding-bottom: 6px;
}

.assessmentQuestion input[type="text"] {
	width: 100%;
}