img.gclms-tooltip-button {
	cursor: help;
}

#gclms-tooltip {
	width: 400px;
	position: absolute;
	left: 100px;
	top: 100px;
}

#gclms-tooltip-content {
	border: 1px solid #F2F200;
	background-color: #FFFFB9;
	padding: 8px;
	background-image: url(/img/originals/popup-gradient.png);
	margin: 1px;
}

