<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

<FilesMatch "\.(js|css)$">
	<IfModule mod_headers.c>
#	Header set Cache-Control "max-age=29030400, public"
#	Header set Expires "Thu, 15 Apr 2010 20:00:00 GMT"
	</IfModule> 
</FilesMatch>

<IfModule mod_headers.c>
Header unset ETag
</IfModule> 

<IfModule mod_headers.c>
	ExpiresByType application/x-javascript "access plus 2 days"
	ExpiresByType text/css "access plus 2 days"
</IfModule>