<FilesMatch "\.(js|php)$">
	<IfModule mod_headers.c>
	Header unset Last-Modified
	# Header set Cache-Control "max-age=29030400, public"
	Header unset ETag
	# Header set Expires "Thu, 15 Apr 2010 20:00:00 GMT"
	</IfModule>
FileETag None
</FilesMatch>

<IfModule mod_deflate.c>
php_value output_handler ob_gzhandler
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css application/x-javascript
</IfModule>